{% extends 'base.html' %}
{% block title %}SFU Summer 2021 Course Finder{% endblock %}

{% block main %}
    <div>
        <form action="your-course" method="post">
            <label for="course" >Choose your course from the list</label>
            <select name="course" id="course">
                <optgroup label="Course...">
                    {% if courses %}
                        {% for course in courses %}
                            <option value="{{course['value']}}">{{course['label']}}</option>
                        {% endfor %}
                    {% endif %}
                </optgroup>
            </select>
            <button type="submit">Find</button>
        </form>
    </div>
{% endblock %}