{% extends 'base.html' %}
{% block title %}Search result{% endblock %}


{% block main %}
    <div class="container">
        {% if outline %}
            {% for key, value in outline.items() %}
                <p class="my-1 font-weight-normal" id="{{ key }}">{{ value }} </p>
            {% endfor %}
        {% endif %}

        {% if ratings %}
            <h4 class="my-0 font-weight-bold">Professor rating</h4>
            {% for rating in ratings %}
                {% for key, value in rating.items() %}
                    <p class="my-1 font-weight-normal" id="{{ key }}">{{ key }}: {{ value }} </p>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="container text-center">
        <p>
            <a href="{{ url_for('home') }}">
                <button class="btn btn-primary my-2">Find another course</button> </a>
        </p>
    </div>
{% endblock %}